<footer class="page-footer">
    <span>Copy anything from this site, if you want. 2023.</span>
</footer>

<style>
    .page-footer {
        text-align: center;
        font-size: 12px;
        padding: 0 40px 132px;
        line-height: 140%;
        padding: 40px;
    }
</style>