<section class="page-block featured-section">
    <h2 class="featured-title">
        Proudly supported by
    </h2>
    <h3 class="featured-subtitle">
        Sponsors
    </h3>
    <a class="supporter-item" href="https://fission.codes/">
        <img class="supporter-image" src="/images/Fission%20Logo%20-%20Full%20Color%20with%20Pad.png" alt="Fission Logo">
    </a>
    <a class="supporter-item" href="https://protocol.ai">
        <img class="supporter-image" src="/images/protocol-labs-logo-black.png" alt="Protocol Labs Logo">
    </a>
    <h3 class="featured-subtitle">
        Maintainer Level
    </h3>
    <a class="supporter-item" href="https://web3.storage/">
        <img class="supporter-image" src="/images/web3storage-black.svg" alt="web3.storage Logo">
    </a>
    <a class="supporter-item" href="https://tableland.xyz/">
        <img class="supporter-image" src="/images/Tableland.png" alt="Tableland Logo">
    </a>
    <a class="supporter-item" href="https://saturn.tech/">
        <img class="supporter-image" src="/images/Saturn.png" alt="Saturn Logo">
    </a>
    <h3 class="featured-subtitle">
        Lunch Sponsor
    </h3>
    <a class="supporter-item" href="https://dataverse-os.com/">
        <img class="supporter-image" src="/images/Dataverse 1.png" alt="DataverseOS Logo">
    </a>
    <h3 class="featured-subtitle">
        Media Partners
    </h3>
    <a class="mediapartner-item" href="https://fil.org/">
        <img class="mediapartner-image" src="/images/FF_Wordmark_Horizontal_Darkx4.png" alt="Filecoin Foundation Logo">
    </a>
    <a class="mediapartner-item" href="https://getclave.io">
        <img class="mediapartner-image" src="/images/clave.png" alt="Clave Logo">
    </a>
    <a class="mediapartner-item" href="https://www.shefi.org">
        <img class="mediapartner-image" src="/images/SheFi.svg" alt="Shefi Logo">
    </a>
    <a class="mediapartner-item" href="https://zuzalu.city/">
        <img class="mediapartner-image" src="/images/ZuSocial.png" alt="ZuSocial Hacker House Logo">
    </a>
    <a class="mediapartner-item" href="https://metaera.media/">
        <img class="mediapartner-image" src="/images/MetaEra.png" alt="MetaEra Logo">
    </a>
</section>

<style>
    .mediapartner-image {
        max-height: 48px;
    }

    .supporter-item,
    .mediapartner-item {
        display: block;
        background-color: var(--dark-cream);
        box-sizing: border-box;
        max-width: 100%;
        padding: 40px;
        text-align: center;
    }

    @media screen and (prefers-color-scheme: dark) {
        .supporter-item,
        .mediapartner-item {
            
        }
    }

    .supporter-item + .supporter-item,
    .mediapartner-item + .mediapartner-item {
        border-top: var(--grid-border) solid var(--fg-color);
    }
</style>