/* Design System Tokens
========================================================================== */

/* Default colors (Light mode) */
:root {
    --maroon: rgb(104,17,18);
    --cream: #f5e9c8;
    --gold: #C4AC6B;
    --dark-maroon: #460000; /* TODO: dark mode */ 
    --warm-grey: #B7B1B1;
    --accent-color: var(--maroon); 
    --fg-color: var(--dark-maroon); 
    --bg-color: var(--cream);
    --spacing-unit: 8px;
    --grid-border: 2px;
}

/* Override colors for Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: var(--cream); 
        --bg-color: var(--dark-maroon);  
    }
    a:link {
        color: #2AA8FF;
    }
    a:visited,
    a:hover {
        color: #2A75FF;
    }
    a.btn { 
    background: var(--gold);
    color: var(--dark-maroon);
    }
    a.btn-primary {
    background-color: var(--accent-color);
    color: var(--cream);
    }
}

/* Font definition for Literata.otf */
@font-face {
    font-family: 'Literata';
    src: url('./fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap; /* Optional, enhances font rendering performance */
}



/* Site Styles
========================================================================== */

html,body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Literata', serif; 
    font-size: 16px;
    font-variation-settings: "wght" 100, "opsz" 7;
    line-height: 150%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-variation-settings: "wght" 600, "opsz" 72;
}

b {
    font-variation-settings: "wgth" 550, "opsz" 24;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

/* Helpers
========================================================================== */

/* only show for screen readers: https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/ */
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.btn { 
    background: var(--gold);
    color: var(--dark-maroon);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-variation-settings: "wght" 600, "opsz" 72;
}

@media screen and (max-width: 699px) {
    .btn { 
        width: 100%;
    } 
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--cream);
    outline: 1px solid var(--bg-color);
}

@media (prefers-color-scheme: dark) {
    .btn-primary {
        border: 1px solid var(--gold);
    }
}

/*Target blank icon*/
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  filter: invert(1); }


/* Navbar
========================================================================== */

.navbar {
    display: flex;    
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cream);
    border: var(--grid-border) solid var(--fg-color);
    border-left: none;
    border-right: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar input[type="checkbox"] {
    display: none;
}

.navbar label {
    width: 32px;
    padding: 20px;
    border-right: var(--grid-border) solid var(--fg-color);
}

.navbar input[type="checkbox"]:checked + label + ul {
    display: flex; 
}

@media screen and (min-width: 767px) {
    .navbar-btn,
    .navbar label {
        display: none;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.navbar li {
    border-bottom: var(--grid-border) solid var(--fg-color);
}

.navbar li:last-child {
    border-bottom: none;
}

@media screen and (min-width: 767px) {
    .navbar ul {
        display: flex;
        flex-direction: row;
    }

    .navbar li {
        border-bottom: none;
        border-right: var(--grid-border) solid var(--fg-color);
    }
    
    .navbar li:last-child {
        border-right: none;
    }
    
}

.navbar ul li a {
    color: var(--fg-color);
    padding: 20px;
    font-weight: 600;
    display: block;
    text-decoration: none;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.subnav {
    background-color: var(--gold);
    color: var(--accent-color);
    display: flex;
}

.wifi {
    font-family: sans-serif;
    padding: 0 16px;
    font-size: 16px;
    display: block;
    margin-left: auto; 
    margin-right: 0;
}

.monospaced {
    font-family: monospace;
    font-size: 14px;
    padding-right: 1em;
}




/* Page Header
========================================================================== */

.page-header {
    padding: 60px 0 20px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .page-header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    } 
    .page-header h2 {
        margin-top: -32px;
        margin-left: 44px;
    }    
}

.page-header .logo-type {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.page-title {
    font-size: 3em;
}



/* Conference details 
========================================================================== */

.page-content {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}

.conference-pitch {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .conference-pitch {
        gap: 40px;
    }   
}

.intro-text {
    padding: 32px;
    background-color: var(--accent-color);
    color: var(--cream);
}

@media screen and (min-width: 700px) {
    .actions {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 699px) {
    .registration-button {
        position: fixed;
        bottom: 40px;
        left: 40px;
        width: calc(100vw - 80px);
        z-index: 100000;
    }   
}

.page-content {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}

.conference-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}

/* First two flex items */
.conference-detail-block {
    border-radius: 2px;
    padding: 32px;
    flex: 1;
    border: 1px dotted var(--gold); 
}

.conference-detail-block h3 {
    margin-top: 0;
}

.conference-detail-block p {
    margin-bottom: 0;
}

.supporters-block {
    background-color: var(--gold);
    padding: 48px 48px 64px;
    border-radius: 2px;
    text-align: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.mediapartner-image {
    max-width: 50%;
}

.supporters-title {
    color: var(--dark-maroon);
    text-align: center;
}

.supporters-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.supporter-image {
    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: -24px;
}


/* featured Speakers
========================================================================== */

.featured-section {
    background-color: var(--gold);
}

.featured-sessions {
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*.featured-sessions h2,
.featured-sessions p {
    text-align: center;
}*/

.speaker-block {
    padding: 32px;
    width: 220px;
    margin: auto;
    flex: 1;
    display: inline-flex;
}


.speaker-details {
    color: #fff;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    left: 30px;
    bottom: 30px;
    padding: 5px 10px;
    background-color: var(--accent-color);
    width: 90%;
    z-index: 999;
}

.speaker-image {
    margin: 0 10px;
    position: relative;
    z-index: 99;
}

.speaker-details h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
}


.speaker-details a:link {
    color: #2AA8FF;
    text-decoration: none;
}
.speaker-details a:visited,
.speaker-details a:hover {
    color: #2A75FF;
}





/* Page Footer
========================================================================== */

.page-footer {
    text-align: center;
    font-size: 12px;
    padding: 0 40px 132px;
    line-height: 140%;
}
