/* Design System Tokens
========================================================================== */

/* Default colors (Light mode) */
:root {
    --maroon: rgb(104,17,18);
    --cream: #f5e9c8;
    --gold: #C4AC6B;
    --dark-maroon: #460000; /* TODO: dark mode */ 
    --warm-grey: #B7B1B1;
    --accent-color: var(--maroon); 
    --fg-color: var(--dark-maroon); 
    --bg-color: var(--cream);
    --spacing-unit: 8px;
    --grid-border: 2px;
}

/* Override colors for Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: var(--cream); 
        --bg-color: var(--dark-maroon);  
    }
    a:link {
        color: #2AA8FF;
    }
    a:visited,
    a:hover {
        color: #2A75FF;
    }
    a.btn { 
    background: var(--gold);
    color: var(--dark-maroon);
    }
    a.btn-primary {
    background-color: var(--accent-color);
    color: var(--cream);
    }
}

/* Font definition for Literata.otf */
@font-face {
    font-family: 'Literata';
    src: url('./fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap; /* Optional, enhances font rendering performance */
}



/* Site Styles
========================================================================== */

html,body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Literata', serif; 
    font-size: 16px;
    font-variation-settings: "wght" 100, "opsz" 7;
    line-height: 150%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-variation-settings: "wght" 600, "opsz" 72;
}

b {
    font-variation-settings: "wgth" 550, "opsz" 24;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

/* Helpers
========================================================================== */

/* only show for screen readers: https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/ */
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.btn { 
    background: var(--gold);
    color: var(--dark-maroon);
    border-radius: 40px;
    border: var(--grid-border) solid var(--fg-color);
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-variation-settings: "wght" 600, "opsz" 72;
}

.btn:hover {
    background: var(--cream);
}

@media screen and (max-width: 699px) {
    .btn { 
        width: 100%;
    } 
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--cream);
}

.btn-primary:hover {
    background-color: var(--dark-maroon);
}

@media (prefers-color-scheme: dark) {
    .btn-primary {
        border-color: var(--fg-color);
    }
}

/*Target blank icon*/
a[target="_blank"]:after {
  content: "↝";
  margin: 0 3px 0 5px;
}


/* Navbar
========================================================================== */

.navbar {
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cream);
    border: var(--grid-border) solid var(--fg-color);
    border-left: none;
    border-right: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar-coming-soon {
    position: absolute;
    background-color: var(--gold);
    font-size: 0.7rem;
    line-height: 1;
    right: 20%;
    bottom: 20px;
    padding: 5px 10px;
    transform: rotateZ(-5deg);
    text-transform: uppercase;
    opacity: .9;
}

.navbar input[type="checkbox"] {
    display: none;
}

.navbar-date {
    padding: 20px;
    order: 2;
    flex-grow: 1;
    text-align: right;
}

.navbar-items {
    flex-shrink: 1;
    order: 3;
}

.navbar label {
    order: 1;
    width: 32px;
    padding: 20px;
    border-right: var(--grid-border) solid var(--fg-color);
}

.navbar input[type="checkbox"]:checked + label + ul {
    display: flex; 
}

@media screen and (min-width: 767px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .navbar-btn,
    .navbar label {
        display: none;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.navbar li {
    position: relative;
    border-top: var(--grid-border) solid var(--fg-color);
}

@media screen and (min-width: 767px) {

    .navbar ul {
        width: auto;
    }

    .navbar-date {
        order: 3;
        border-left: var(--grid-border) solid var(--fg-color);
        flex-grow: 0;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .navbar li {
        border-top: none;
        border-right: var(--grid-border) solid var(--fg-color);
    }
    
}

.navbar ul li a {
    color: var(--fg-color);
    padding: 20px;
    display: block;
    text-decoration: none;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.subnav {
    background-color: var(--gold);
    color: var(--accent-color);
    display: flex;
}

.wifi {
    font-family: sans-serif;
    padding: 0 16px;
    font-size: 16px;
    display: block;
    margin-left: auto; 
    margin-right: 0;
}

.monospaced {
    font-family: monospace;
    font-size: 14px;
    padding-right: 1em;
}




/* Page Header
========================================================================== */

.page-header {
    padding: 60px 0 20px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .page-header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    } 
    .page-header h2 {
        margin-top: -32px;
        margin-left: 44px;
    }    
}

.page-header .logo-type {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.page-title {
    font-size: 3em;
}



/* Conference details 
========================================================================== */

.page-content {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 767px) {
    .page-content {
        gap: 40px;
        padding: 40px;
    }
}

.conference-pitch {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .conference-pitch {
        gap: 40px;
    }   
}

.intro-text {
    padding: 20px 40px;
    background-color: var(--accent-color);
    color: var(--cream);
}

.actions {
    margin: 40px;
}

@media screen and (min-width: 767px) {
    .actions {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .registration-button {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;
    }   
}

.conference-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* First two flex items */
.conference-detail-block {
    padding: 40px;
    flex: 1;
    border-top: var(--grid-border) solid var(--fg-color);
    border-bottom: var(--grid-border) solid var(--fg-color);
}

@media screen and (min-width: 767px) {
    .conference-detail-block {
        border: var(--grid-border) solid var(--fg-color);
    }
}

.conference-detail-block + .conference-detail-block {
    border-top: none;
}

.conference-detail-block h3 {
    margin-top: 0;
}

.conference-detail-block p {
    margin-bottom: 0;
}

.mediapartner-image {
    max-width: 50%;
}

.supporter-item,
.mediapartner-item {
    box-sizing: border-box;
    max-width: 100%;
    padding: 40px;
    text-align: center;
}

.supporter-item + .supporter-item,
.mediapartner-item + .mediapartner-item {
    border-top: var(--grid-border) solid var(--fg-color);
}


/* featured Speakers
========================================================================== */

.featured-section {
    display: flex;
    flex-direction: column;
    border-top: var(--grid-border) solid var(--fg-color);
    border-bottom: var(--grid-border) solid var(--fg-color);
}

@media screen and (min-width: 767px) {
    .featured-section {
        border: var(--grid-border) solid var(--fg-color);
    }
}

.featured-title {
    padding: 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
    color: var(--bg-color);
    border-bottom:  var(--grid-border) solid var(--fg-color);
}

.featured-subtitle {
    padding: 20px 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background: var(--gold);
    color: var(--dark-maroon);
    border-top:  var(--grid-border) solid var(--fg-color);
    border-bottom:  var(--grid-border) solid var(--fg-color);
}

.featured-title + .featured-subtitle {
    border-top: none;
}

.speaker-block {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    border-bottom:  var(--grid-border) solid var(--fg-color);
}

.speaker-block:nth-child(odd) {
    flex-direction: row-reverse;
}

.speaker-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grow: 1;
    width: 66%;
    padding: 20px;
}

@media screen and (min-width: 767px) {
    .speaker-details {
        grow: 1;
        padding: 40px;
    }   
}

.speaker-image {
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 240px;
    font-size: 0;
    border-right: var(--grid-border) solid var(--fg-color);
}

.speaker-block:nth-child(odd) .speaker-image {
    border-right: none;
    border-left: var(--grid-border) solid var(--fg-color);
}

.speaker-details h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.speaker-announce {
    padding: 20px;
    text-align: center;
    background-color: var(--gold);
    color: var(--dark-maroon);
}

.conference-text {
    padding: 40px;
}


/* Page Footer
========================================================================== */

.page-footer {
    text-align: center;
    font-size: 12px;
    padding: 0 40px 132px;
    line-height: 140%;
    padding: 40px;
}
